
# ignore .git and .cache folders
**/.git
**/.cache

# All readme file
**/*.md

# .vs and vscode file
**/.vs/
**/.vscode/

# All readme file
**/.gitignore


# All Jenkinsfile
**/Jenkinsfile

# All Jenkinsfile
**/.env

**/obj/
**/bin/
**/node_modules/
